:root {
    --headerfont: 'Rock Salt', Arial, sans-serif;
    --bodyfont: 'Poppins', Arial, sans-serif;
    --background: #232946;
    --border: #121629;
    --mainBackground: #b8c1ec;
    --cardBackground: #eebbc3;
    --paragraph: #121629;
    --button: #eebbc3;
    --buttonText: #232946;
    --hover: #eebbc3;
    --heading: #fffffe;
    --label: #b8c1ec;
    --icon: #eebbc3;
}

* {
    /*margin: 0;*/
    padding: 0;
    box-sizing: border-box;
}
html, body {
    min-height: 100vh;
    font-family: var(--bodyfont);
    font-size: 18px;
    background-color: var(--background);
    color: var(--paragraph);
}

h1 {
    font-family: var(--headerfont);
    color: var(--heading);
    text-align: center;
    padding: 3rem;
    font-size: 2.5rem;
}
#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 45rem;
    /*height: auto;*/
    margin: 0 auto;
    padding: .25rem;
}
section {
    /*height: auto;*/
    background-color: var(--mainBackground);
    padding: 1.5rem;
    border: dashed 2px var(--border);
    border-radius: 1.25rem;
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/
    position: relative;
}
article {
    color: var(--paragraph);
    text-align: center;
    word-break: break-word;
}
.fa-circle-info {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 1rem;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    background-color: var(--button);
    padding: .5rem;
    margin: 1rem .1rem;
    border-color: var(--border);
    border-radius: 1.5rem;
}

.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.row-container input, .row-container select {
    flex: 1;
    width: auto;
}

.radio-option {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

input[type="number"] {
    width: 100%;
}

input[type="radio"] + label {
    display: inline-flex;
    align-items: center;
    margin-left: 0.5rem;
}

select {
    background-color: var(--button);
    margin: 1rem .1rem;
    max-width: 100%;
}

.button-container {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    /*margin: .25rem;*/
}
.side-by-side {
    flex: 1;
}

button {
    background-color: var(--background);
    margin: .5rem;
    padding: .5rem;
    width: 10%;
    border: .1rem dashed var(--label);
    border-radius: 4rem;
    color: var(--button);
    font-size: 1rem;
    cursor: pointer;
}
button:hover {
    cursor: pointer;
    color: var(--background);
    background-color: var(--button);
    border: .1rem dashed var(--background);
}

.copy-message {
    display: none;
    position: relative;
        bottom: 38px;
    background-color: var(--background);
    color: var(--label);
    border-radius: 1.5rem;
    width: 100%;
}

.fa-solid.fa-clipboard {
    pointer-events: none;
}

.pagination {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*margin: .25rem;*/
}

#pageNumber {
    color: var(--label);
    padding: 1rem;
}

footer {
    padding-top: 2rem;
    text-align: center;
}