:root {
    --headerfont: 'Rock Salt', Arial, sans-serif;
    --bodyfont: 'Poppins', Arial, sans-serif;
    --background: #011140; /* oxford blue - main background */
    --mainText: #E0E0E0; /* gray - main text */
    --button: #466C8C; /* steel blue - buttons, icons, footer */
    --hover: #F2937E; /* salmon - hover */
    --heading: #D96B62; /* burnt sienna - headings, borders */
    --label: #A65656; /* brick red - tags, labels */
}
* {
    margin: 0; /* reset margin and padding */
    padding: 0;
    box-sizing: border-box; /* ensures all elements are border-box */
}
html, body {
    min-height: 100%;
    font-family: var(--bodyfont);
    font-size: 18px; /* rem used from now on, based off this 18px, 1rem = 18px */
    background-color: var(--background);
    color: var(--mainText);
}
h1 {
    font-family: var(--headerfont);
    color: var(--heading);
    text-align: center;
    padding: 3rem;
    font-size: 2.5rem;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    max-width: 45rem;
    height: auto;
    margin: 0 auto;
    padding: .25rem;
    /*text-align: center;*/
}
section {
    height: auto;
    background-color: var(--button);
    padding: 1.5rem;
    border: dashed 2px var(--heading);
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
article {
    color: var(--mainText);
    text-align: center;
    word-break: break-word;
}
input {
    background-color: var(--mainText);
    padding: .5rem;
    /*margin: 1rem;*/
    width: 100%;
    border-color: var(--hover);
    border-radius: 1.5rem;
}
.input-container { /* these next three classes are for inputs/buttons that are side by side*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*border: 1px solid #000;*/
    margin: .25rem;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*border: 1px solid #000;*/
    margin: .25rem;
}
.side-by-side {
    flex: 1;
}
.input-container p { /* the plus sign between two boxes */
    display: flex;
    align-items: center;
    margin: .1rem;
}
button {
    background-color: var(--background);
    padding: .5rem;
    /*margin: 1rem;*/
    width: 90%;
    border-color: var(--hover);
    border-radius: 1.5rem;
    color: var(--mainText);
    font-size: 1rem;
    cursor: pointer;
}
button:hover {
    background-color: var(--hover);
}
.copy {
    background-color: var(--background);
}
.copy-message {
    display: none;
    position: relative;
        bottom: 38px;
    background-color: #000;
    color: white;
    border-radius: 1.5rem;
    width: 100%;
}
footer {
    background-color: var(--button);
    font-size: .75rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: .25rem;
}